gs/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="GasOrderService" targetNamespace="https://system.globalsign.com/cr/ws/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://system.globalsign.com/cr/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="https://system.globalsign.com/cr/ws/" version="1.0" xmlns:tns="https://system.globalsign.com/cr/ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Cancel" type="tns:Cancel" />
<xs:element name="CancelResponse" type="tns:CancelResponse" />
<xs:element name="GetOrderByOrderId" type="tns:GetOrderByOrderId" />
<xs:element name="GetOrderByOrderIdResponse" type="tns:GetOrderByOrderIdResponse" />
<xs:element name="GetOrders" type="tns:GetOrders" />
<xs:element name="GetOrdersResponse" type="tns:GetOrdersResponse" />
<xs:element name="GetProfiles" type="tns:GetProfiles" />
<xs:element name="GetProfilesResponse" type="tns:GetProfilesResponse" />
<xs:element name="OrderAndIssueCertificate" type="tns:OrderAndIssueCertificate" />
<xs:element name="OrderAndIssueCertificateResponse" type="tns:OrderAndIssueCertificateResponse" />
<xs:element name="OrderCertificate" type="tns:OrderCertificate" />
<xs:element name="OrderCertificateResponse" type="tns:OrderCertificateResponse" />
<xs:element name="OrderDS" type="tns:OrderDS" />
<xs:element name="OrderDSResponse" type="tns:OrderDSResponse" />
<xs:element name="OrderPkcs12" type="tns:OrderPkcs12" />
<xs:element name="OrderPkcs12Response" type="tns:OrderPkcs12Response" />
<xs:element name="Reissue" type="tns:Reissue" />
<xs:element name="ReissueResponse" type="tns:ReissueResponse" />
<xs:element name="Revoke" type="tns:Revoke" />
<xs:element name="RevokeResponse" type="tns:RevokeResponse" />
<xs:element name="cancelOrderRequest" type="tns:CancelOrderRequest" />
<xs:element name="cancelOrderResponse" type="tns:CancelOrderResponse" />
<xs:element name="crOrderDetail" type="tns:OrderDetail" />
<xs:element name="crOrderDetails" type="tns:OrderDetails" />
<xs:element name="crProfileDetail" type="tns:ProfileDetail" />
<xs:element name="crProfileDetails" type="tns:ProfileDetails" />
<xs:element name="crProfileInfo" type="tns:ProfileInfo" />
<xs:element name="getCrOrderByOrderIdRequest" type="tns:GetCrOrderByOrderIdRequest" />
<xs:element name="getCrOrderByOrderIdResponse" type="tns:GetCrOrderByOrderIdResponse" />
<xs:element name="getCrOrdersRequest" type="tns:GetCrOrdersRequest" />
<xs:element name="getCrOrdersResponse" type="tns:GetCrOrdersResponse" />
<xs:element name="getCrProfileRequest" type="tns:GetCrProfileRequest" />
<xs:element name="getCrProfileResponse" type="tns:GetCrProfileResponse" />
<xs:element name="modificationEvent" type="tns:ModificationEvent" />
<xs:element name="modificationEvents" type="tns:ModificationEvents" />
<xs:element name="orderAndIssueRequest" type="tns:OrderAndIssueRequest" />
<xs:element name="orderAndIssueResponse" type="tns:OrderAndIssueResponse" />
<xs:element name="orderInfo" type="tns:OrderInfo" />
<xs:element name="orderRequest" type="tns:OrderRequest" />
<xs:element name="orderRequest4DS" type="tns:OrderRequest4DS" />
<xs:element name="orderResponse" type="tns:OrderResponse" />
<xs:element name="orderResponse4DS" type="tns:OrderResponse4DS" />
<xs:element name="pkcs12OrderRequest" type="tns:Pkcs12OrderRequest" />
<xs:element name="pkcs12OrderResponse" type="tns:Pkcs12OrderResponse" />
<xs:element name="reissueOrderRequest" type="tns:ReissueOrderRequest" />
<xs:element name="reissueOrderResponse" type="tns:ReissueOrderResponse" />
<xs:element name="revokeOrderRequest" type="tns:RevokeOrderRequest" />
<xs:element name="revokeOrderResponse" type="tns:RevokeOrderResponse" />
<xs:complexType name="GetProfiles">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:GetCrProfileRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCrProfileRequest">
<xs:sequence>
<xs:element name="QueryRequestHeader" type="tns:QueryRequestHeader" />
<xs:element name="ProfileQueryParam" type="tns:ProfileQueryParam" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryRequestHeader">
<xs:sequence>
<xs:element name="AuthToken" type="tns:AuthToken" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="AuthToken">
<xs:sequence>
<xs:element name="UserName" type="xs:string" />
<xs:element name="Password" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfileQueryParam">
<xs:sequence>
<xs:element minOccurs="0" name="ProfileOrderNo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ProfileOrderState" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestDateFrom" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestDateTo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="IssueDateFrom" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="IssueDateTo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="OrganizationUnit" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ContractorUserId" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetProfilesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:GetCrProfileResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCrProfileResponse">
<xs:sequence>
<xs:element minOccurs="0" name="QueryResponseHeader" type="tns:QueryResponseHeader" />
<xs:element name="TotalCount" type="xs:int" />
<xs:element minOccurs="0" name="ProfileDetails" nillable="true" type="tns:ProfileDetails" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryResponseHeader">
<xs:sequence>
<xs:element name="SuccessCode" type="xs:int" />
<xs:element minOccurs="0" name="Errors" type="tns:Errors" />
<xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Errors">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:Error" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Error">
<xs:sequence>
<xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ErrorField" type="xs:string" />
<xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfileDetails">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="ProfileDetail" type="tns:ProfileDetail" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfileDetail">
<xs:sequence>
<xs:element name="ProfileInfo" type="tns:ProfileInfo" />
<xs:element minOccurs="0" name="ProfileDnAttributes" type="tns:ProfileDnAttributes" />
<xs:element minOccurs="0" name="ProfileAttributes" type="tns:ProfileAttributes" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfileInfo">
<xs:sequence>
<xs:element name="ProfileOrderNo" type="xs:string" />
<xs:element name="ProfileOrderState" type="xs:string" />
<xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestBeforeDate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestAfterDate" nillable="true" type="xs:string" />
<xs:element name="OrderDate" type="xs:string" />
<xs:element name="IssueDate" type="xs:string" />
<xs:element name="CancelRequestDate" type="xs:string" />
<xs:element name="CancelDate" type="xs:string" />
<xs:element name="SuspendRequestDate" type="xs:string" />
<xs:element name="SuspendDate" type="xs:string" />
<xs:element name="ValidityPeriod" type="tns:ValidityPeriod" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidityPeriod">
<xs:sequence>
<xs:element name="NotBefore" nillable="true" type="xs:string" />
<xs:element name="NotAfter" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfileDnAttributes">
<xs:sequence>
<xs:element minOccurs="0" name="CommonName" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="OrganizationUnits" nillable="true" type="tns:OrganizationUnits" />
<xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrganizationUnits">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="OrganizationUnit" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfileAttributes">
<xs:sequence>
<xs:element minOccurs="0" name="HashType" type="xs:string" />
<xs:element minOccurs="0" name="EFSOption" type="xs:string" />
<xs:element minOccurs="0" name="UPN" type="xs:string" />
<xs:element minOccurs="0" name="RenewalType" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="NonExportable" type="xs:string" />
<xs:element minOccurs="0" name="NonRepudiation" type="xs:string" />
<xs:element minOccurs="0" name="OCSPOption" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderPkcs12">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:Pkcs12OrderRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Pkcs12OrderRequest">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="ProfileID" type="xs:string" />
<xs:element name="PKCS12PIN" type="xs:string" />
<xs:element name="ProductCode" type="xs:string" />
<xs:element name="Year" type="xs:int" />
<xs:element name="EFSOption" nillable="true" type="xs:boolean" />
<xs:element name="Renew" nillable="true" type="xs:boolean" />
<xs:element minOccurs="0" name="UPN" nillable="true" type="xs:string" />
<xs:element name="DnAttributes" type="tns:DnAttributes" />
<xs:element minOccurs="0" name="EmailLanguage" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderRequestHeader">
<xs:sequence>
<xs:element name="AuthToken" type="tns:AuthToken" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="DnAttributes">
<xs:complexContent>
<xs:extension base="tns:abstractDnAttributes">
<xs:sequence>
<xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="abstractDnAttributes">
<xs:sequence>
<xs:element name="CommonName" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="OrganizationUnit" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderPkcs12Response">
<xs:sequence>
<xs:element minOccurs="0" name="Response" ns1:expectedContentTypes="application/octet-stream" type="tns:Pkcs12OrderResponse" xmlns:ns1="http://www.w3.org/2005/05/xmlmime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Pkcs12OrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="OrderID" type="xs:string" />
<xs:element minOccurs="0" name="BASE64PKCS12" type="xs:string" />
<xs:element minOccurs="0" name="PKCS12" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderResponseHeader">
<xs:sequence>
<xs:element name="SuccessCode" type="xs:int" />
<xs:element minOccurs="0" name="Errors" type="tns:Errors" />
<xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderAndIssueCertificate">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:OrderAndIssueRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderAndIssueRequest">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="ProfileID" type="xs:string" />
<xs:element name="ProductCode" type="xs:string" />
<xs:element name="Year" type="xs:int" />
<xs:element name="CSR" type="xs:string" />
<xs:element name="EFSOption" nillable="true" type="xs:boolean" />
<xs:element minOccurs="0" name="UPN" nillable="true" type="xs:string" />
<xs:element name="DnAttributes" type="tns:DnAttributes" />
<xs:element minOccurs="0" name="PickupPassword" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="CertificateTemplate" nillable="true" type="tns:CertificateTemplate" />
<xs:element minOccurs="0" name="EmailLanguage" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="CertificateTemplate">
<xs:sequence>
<xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="MajorVersion" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="MinorVersion" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderAndIssueCertificateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:OrderAndIssueResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderAndIssueResponse">
<xs:sequence>
<xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="OrderID" type="xs:string" />
<xs:element minOccurs="0" name="CERT" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderCertificate">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:OrderRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderRequest">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="ProfileID" type="xs:string" />
<xs:element name="ProductCode" type="xs:string" />
<xs:element name="Year" type="xs:int" />
<xs:element name="HasCSR" nillable="true" type="xs:boolean" />
<xs:element name="PKCS12Option" nillable="true" type="xs:boolean" />
<xs:element name="EFSOption" nillable="true" type="xs:boolean" />
<xs:element minOccurs="0" name="UPN" nillable="true" type="xs:string" />
<xs:element name="DnAttributes" type="tns:DnAttributes4OrderCert" />
<xs:element name="PickupPassword" type="xs:string" />
<xs:element minOccurs="0" name="EmailLanguage" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="DnAttributes4OrderCert">
<xs:complexContent>
<xs:extension base="tns:abstractDnAttributes">
<xs:sequence>
<xs:element name="Email" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrderCertificateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:OrderResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="OrderID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Cancel">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:CancelOrderRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="CancelOrderRequest">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="OrderID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="CancelResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:CancelOrderResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="CancelOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="OrderID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Revoke">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:RevokeOrderRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="RevokeOrderRequest">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="OrderID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="RevokeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:RevokeOrderResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="RevokeOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="orderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="orderNo" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderDS">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:OrderRequest4DS" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderRequest4DS">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="ProfileOrderNo" type="xs:string" />
<xs:element name="ProductCode" type="xs:string" />
<xs:element name="IssueType" type="xs:string" />
<xs:element name="Year" type="xs:int" />
<xs:element minOccurs="0" name="CSR" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="PickupPassword" nillable="true" type="xs:string" />
<xs:element name="DnAttributes" type="tns:DnAttributes" />
<xs:element minOccurs="0" name="EmailLanguage" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderDSResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:OrderResponse4DS" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderResponse4DS">
<xs:sequence>
<xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="OrderID" type="xs:string" />
<xs:element minOccurs="0" name="Certificate" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetOrders">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:GetCrOrdersRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCrOrdersRequest">
<xs:sequence>
<xs:element name="QueryRequestHeader" type="tns:QueryRequestHeader" />
<xs:element name="OrderQueryParam" type="tns:OrderQueryParam" />
<xs:element name="OrdersQueryOption" type="tns:OrdersQueryOption" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderQueryParam">
<xs:sequence>
<xs:element name="ProductCode" type="xs:string" />
<xs:element minOccurs="0" name="ProfileOrderNo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="LicenseOrderNo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="OrderState" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="CertState" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestDateFrom" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestDateTo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="IssueDateFrom" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="IssueDateTo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="CommonName" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrdersQueryOption">
<xs:sequence>
<xs:element minOccurs="0" name="ReturnCertificateInfo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ReturnFulfillment" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetOrdersResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:GetCrOrdersResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCrOrdersResponse">
<xs:sequence>
<xs:element minOccurs="0" name="QueryResponseHeader" type="tns:QueryResponseHeader" />
<xs:element name="TotalCount" type="xs:int" />
<xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:OrderDetails" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderDetails">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="OrderDetail" type="tns:OrderDetail" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderDetail">
<xs:sequence>
<xs:element name="OrderInfo" type="tns:OrderInfo" />
<xs:element minOccurs="0" name="CrCertificateInfo" type="tns:CertificateInfo" />
<xs:element minOccurs="0" name="Fulfillment" type="tns:Fulfillment" />
<xs:element minOccurs="0" name="ModificationEvents" type="tns:ModificationEvents" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderInfo">
<xs:sequence>
<xs:element name="OrderNo" type="xs:string" />
<xs:element name="OrderStatus" type="xs:string" />
<xs:element name="ProductCode" type="xs:string" />
<xs:element minOccurs="0" name="OriginalOrderIDForReIssue" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ProfileNo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="LicenseNo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestBeforeDate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="RequestAfterDate" nillable="true" type="xs:string" />
<xs:element name="OrderDate" type="xs:string" />
<xs:element name="IssueDate" type="xs:string" />
<xs:element name="CancelRequestDate" type="xs:string" />
<xs:element name="CancelRequestUser" type="xs:string" />
<xs:element name="CancelDate" type="xs:string" />
<xs:element name="RevokeRequestDate" type="xs:string" />
<xs:element name="RevokeRequestUser" type="xs:string" />
<xs:element name="RevokeDate" type="xs:string" />
<xs:element name="ValidityPeriod" type="tns:ValidityPeriod" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="CertificateInfo">
<xs:sequence>
<xs:element name="CertificateStatus" type="xs:string" />
<xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="CommonName" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="OrganizationUnits" nillable="true" type="tns:OrganizationUnits" />
<xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Fulfillment">
<xs:sequence>
<xs:element minOccurs="0" name="CrCertificate" nillable="true" type="tns:CrCertificate" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="CrCertificate">
<xs:sequence>
<xs:element name="Certificate" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="PKCS7Cert" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ModificationEvents">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ModificationEvent" type="tns:ModificationEvent" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ModificationEvent">
<xs:sequence>
<xs:element name="ModificationEventName" type="xs:string" />
<xs:element name="ModificationEventTimestamp" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetOrderByOrderId">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:GetCrOrderByOrderIdRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCrOrderByOrderIdRequest">
<xs:sequence>
<xs:element name="QueryRequestHeader" type="tns:QueryRequestHeader" />
<xs:element name="OrderNo" type="xs:string" />
<xs:element minOccurs="0" name="OrderQueryOption" nillable="true" type="tns:OrderQueryOption" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderQueryOption">
<xs:sequence>
<xs:element minOccurs="0" name="ReturnCertificateInfo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ReturnFulfillment" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ReturnP7" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="ReturnModEvents" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetOrderByOrderIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:GetCrOrderByOrderIdResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCrOrderByOrderIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="QueryResponseHeader" type="tns:QueryResponseHeader" />
<xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Reissue">
<xs:sequence>
<xs:element minOccurs="0" name="Request" type="tns:ReissueOrderRequest" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReissueOrderRequest">
<xs:sequence>
<xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
<xs:element name="TargetOrderID" type="xs:string" />
<xs:element name="PickupPassword" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReissueResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Response" type="tns:ReissueOrderResponse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReissueOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
<xs:element minOccurs="0" name="OrderID" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderByOrderIdResponse">
    <wsdl:part element="tns:GetOrderByOrderIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderPkcs12">
    <wsdl:part element="tns:OrderPkcs12" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderByOrderId">
    <wsdl:part element="tns:GetOrderByOrderId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProfiles">
    <wsdl:part element="tns:GetProfiles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderCertificate">
    <wsdl:part element="tns:OrderCertificate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelResponse">
    <wsdl:part element="tns:CancelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderPkcs12Response">
    <wsdl:part element="tns:OrderPkcs12Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReissueResponse">
    <wsdl:part element="tns:ReissueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Revoke">
    <wsdl:part element="tns:Revoke" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderAndIssueCertificate">
    <wsdl:part element="tns:OrderAndIssueCertificate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderDS">
    <wsdl:part element="tns:OrderDS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Reissue">
    <wsdl:part element="tns:Reissue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderDSResponse">
    <wsdl:part element="tns:OrderDSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrdersResponse">
    <wsdl:part element="tns:GetOrdersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProfilesResponse">
    <wsdl:part element="tns:GetProfilesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RevokeResponse">
    <wsdl:part element="tns:RevokeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderAndIssueCertificateResponse">
    <wsdl:part element="tns:OrderAndIssueCertificateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrders">
    <wsdl:part element="tns:GetOrders" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderCertificateResponse">
    <wsdl:part element="tns:OrderCertificateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Cancel">
    <wsdl:part element="tns:Cancel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GasOrderService">
    <wsdl:operation name="GetProfiles">
      <wsdl:input message="tns:GetProfiles" name="GetProfiles">
    </wsdl:input>
      <wsdl:output message="tns:GetProfilesResponse" name="GetProfilesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderPkcs12">
      <wsdl:input message="tns:OrderPkcs12" name="OrderPkcs12">
    </wsdl:input>
      <wsdl:output message="tns:OrderPkcs12Response" name="OrderPkcs12Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderAndIssueCertificate">
      <wsdl:input message="tns:OrderAndIssueCertificate" name="OrderAndIssueCertificate">
    </wsdl:input>
      <wsdl:output message="tns:OrderAndIssueCertificateResponse" name="OrderAndIssueCertificateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderCertificate">
      <wsdl:input message="tns:OrderCertificate" name="OrderCertificate">
    </wsdl:input>
      <wsdl:output message="tns:OrderCertificateResponse" name="OrderCertificateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input message="tns:Cancel" name="Cancel">
    </wsdl:input>
      <wsdl:output message="tns:CancelResponse" name="CancelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Revoke">
      <wsdl:input message="tns:Revoke" name="Revoke">
    </wsdl:input>
      <wsdl:output message="tns:RevokeResponse" name="RevokeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDS">
      <wsdl:input message="tns:OrderDS" name="OrderDS">
    </wsdl:input>
      <wsdl:output message="tns:OrderDSResponse" name="OrderDSResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrders" name="GetOrders">
    </wsdl:input>
      <wsdl:output message="tns:GetOrdersResponse" name="GetOrdersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByOrderId">
      <wsdl:input message="tns:GetOrderByOrderId" name="GetOrderByOrderId">
    </wsdl:input>
      <wsdl:output message="tns:GetOrderByOrderIdResponse" name="GetOrderByOrderIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reissue">
      <wsdl:input message="tns:Reissue" name="Reissue">
    </wsdl:input>
      <wsdl:output message="tns:ReissueResponse" name="ReissueResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GasOrderServiceSoapBinding" type="tns:GasOrderService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfiles">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetProfiles">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProfilesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderPkcs12">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="OrderPkcs12">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrderPkcs12Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderAndIssueCertificate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="OrderAndIssueCertificate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrderAndIssueCertificateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderCertificate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="OrderCertificate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrderCertificateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Cancel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Revoke">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Revoke">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RevokeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="OrderDS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrderDSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByOrderId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetOrderByOrderId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetOrderByOrderIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetOrders">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetOrdersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reissue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Reissue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReissueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GasOrderService">
    <wsdl:port binding="tns:GasOrderServiceSoapBinding" name="GasOrderServicePort">
      <soap:address location="https://system.globalsign.com/cr/ws/GasOrderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>